:root {
  --primary-color: #ff4f81; /* Softer pink */
  --secondary-color: #ffccd5; /* Light pink background */
  --background-color: #f5f5f5;
  --text-color: #333;
  --white: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.ant-btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2, h1 {
  color: var(--primary-color);
}
